<template>
	<div class="ibox">
	    <div class="ibox-title">
	        <h5>Account View Export</h5>

	        <div class="ibox-tools">
	            <button class="btn btn-danger btn-xs" @click='remove' type='button'><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
	        </div>
	    </div>
	    <div class="ibox-content">
	        <div class="mb20"></div>

	        <div class="row">
	            <div class="col-md-12">
	                <div class="form-group">
	                    <label class="col-md-2 control-label">Countries</label>
	                    <div class="col-md-10">
	                    	<country-select :name="'country' + identifier">
	                    		<option v-for="country in country_options":icon="country.icon" :value="country.id" v-bind:selected="country.id == country_selected && true">{{ country.name }}</option>
	                    	</country-select>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-md-2 control-label">Based on</label>
	                    <div class="col-md-10">
	                    	<select2 :name="'platform' + identifier">
	                    		<option v-for="platform in platforms" :value="platform.id" :selected="platform_selected == platform.id">
	                    			{{ platform.name }}
	                    		</option>
	                    	</select2>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-md-2 control-label">Threshold</label>
	                    <div class="col-md-10">
	                        <amount-input max="1000" :name="'threshold' + identifier" :value="threshold" step="0.10"></amount-input>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-md-2 control-label">Amount</label>
	                    <div class="col-md-10">
	                        <amount-input max="1000" min="-1000" :name="'amount' + identifier" :value="amount" step="0.01"></amount-input>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label class="col-md-2 control-label">Percentage</label>
	                    <div class="col-md-10">
	                        <percentage-input max="100" min="-100" :name="'percentage' + identifier" :value="percentage"></percentage-input>
	                    </div>
	                </div>

	            </div>
	        </div>
	        
	    </div>
	</div>
</template>

<script>
	import AmountInput from './AmountInput.vue'
	import PercentageInput from './PercentageInput.vue'
	import CountrySelect from './CountrySelect.vue'
	import Select2 from './Select2.vue'

	export default {
		props: ['countries', 'platform_options', 'platform_selected', 'country_selected', 'settings', 'box_id'],
        components: { 
            AmountInput,
            PercentageInput,
            CountrySelect,
            Select2
        },
        data() {
			return {
				platforms: [],
				threshold: null,
				amount: null,
				percentage: null,
				identifier: '[new][]',
				country_options: []
			};
		},
        methods: {
            remove: function(){
            	if(this.box_id)
            	{
            		var uri = '/ajax/ibox/account-view/remove-formule';

	            	var data = {};
	                data.id = this.box_id;

	            	axios.post(uri, data);
            	}

                $(this.$el).remove();
            }
        },
        mounted: function(){
        	this.platforms = JSON.parse(this.platform_options)
        	this.country_options = JSON.parse(this.countries)

        	if(this.settings)
        	{
        		var settings = JSON.parse(this.settings)
        		
        		this.threshold = settings.threshold
        		this.amount = settings.amount
        		this.percentage = settings.percentage
        	}

        	if(this.box_id)
        	{
        		this.identifier = '[exist][' + this.box_id + ']'
        	}
        }
	}
</script>
