<template>
	<input type="text" :value="value">
</template>

<script>
    import touchspin from 'bootstrap-touchspin'
    
	export default {
		props: ['max', 'min', 'value', 'step'],
		mounted: function () {
            $(this.$el).TouchSpin({
                max: this.max,
                min: this.min,
                step: this.step,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                prefix: '€',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
		}
	}
</script>
