<template>
	<div>
	    <table class="table table-striped">
	        <thead>
		        <tr>
		            <th>Filename</th>
		            <th>User</th>
		            <th class="hidden-xs">Date</th>
		            <th></th>
		        </tr>
	        </thead>
	        <tbody>
	            <tr v-for="row in rows" :class="'row_' + row.id">
	            	<td>
	            		<a class="formulaModal" data-toggle="modal" data-target="#fomulaModal" v-html="row.original_filename" @click="selectFile(row.id)"></a>
	            	</td>
	            	<td>{{ row.user.firstname }}</td>
	            	<td>{{ date(row.created_at) }}</td>
					<td class="text-right">
						<remove-file-button :remove_uri="'/ibox/analist/remove/' + row.id" :item_id="row.id"><i class="fa fa-trash-o"></i></remove-file-button>
					</td>
	            </tr>
	        </tbody>
	    </table>

	    <div class="modal inmodal fade" id="fomulaModal" role="dialog"  aria-hidden="true">
	        <div class="modal-dialog modal-lg">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                    <h4 class="modal-title"><i class="fa fa-subscript" aria-hidden="true"></i> Formula</h4>
	                    <small class="font-bold">Enter the desire formula to cacluate the deal.</small>
	                </div>

	                <form method="post" action="/ibox/analist/analyze">
	                    <div class="modal-body">
	                    	<div class="text-center" v-show="loading">
		                    	<div class="sk-spinner sk-spinner-cube-grid">
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                    <div class="sk-cube"></div>
				                </div>
				                <b>Analyzing...</b>
			                </div>

	                        <div class="row" v-show="!loading">
	                            <div class="form-group">
	                                <label class="col-sm-3 control-label">T24 Fee</label>
	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[t24_fee]" value="1"> <label>Add</label>
	                                </div>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[t24_fee]" value="0" checked=""> <label>Substract</label>
	                                </div>

	                                <div class="col-sm-5">
	                                    <div class="input-group m-b">
	                                        <span class="input-group-addon">€</span>
	                                        <input type="text" class="form-control m-b" name="formula[t24_fee_value]" value="3.70">
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-sm-3 control-label">Margin</label>
	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[margin]" value="1" checked=""> <label>Multiply</label>
	                                </div>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[margin]" value="0"> <label>Devide</label>
	                                </div>

	                                <div class="col-sm-5">
	                                    <div class="input-group m-b">
	                                        <span class="input-group-addon">%</span>
	                                        <input type="text" class="form-control m-b" name="formula[margin_value]" value="10">
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-sm-3 control-label">Import Fee</label>
	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[import_fee]" value="1" checked=""> <label>Multiply</label>
	                                </div>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[import_fee]" value="0"> <label>Devide</label>
	                                </div>

	                                <div class="col-sm-5">
	                                    <div class="input-group m-b">
	                                        <span class="input-group-addon">%</span>
	                                        <input type="text" class="form-control m-b" name="formula[import_fee_value]" value="6">
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-sm-3 control-label">Transport Fee</label>
	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[transport_fee]" value="1"> <label>Add</label>
	                                </div>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="formula[transport_fee]" value="0" checked=""> <label>Substract</label>
	                                </div>

	                                <div class="col-sm-5">
	                                    <div class="input-group m-b">
	                                        <span class="input-group-addon">€</span>
	                                        <input type="text" class="form-control m-b" name="formula[transport_fee_value]" value="3">
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-sm-3 control-label">Equivalent</label>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="equivalent" value="1"> <label>Enable</label>
	                                </div>

	                                <div class="col-sm-2 i-checks">
	                                    <input type="radio" name="equivalent" value="0" checked=""> <label>Disable</label>
	                                </div>

	                                <div class="col-sm-5">
	                                    <select2 id="segment" class="form-control segment_select" multiple name="segments[]">
	                                      <option v-for="segment in segment_rows" :value="segment">{{ segment }}</option>
	                                    </select2>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="modal-footer">
	                    	<input type="hidden" name="file_id" id="fileID">
	                    	<input type="hidden" name="_token" id="csrf_token">
	                        <button type="button" class="btn btn-white pull-left" data-dismiss="modal">Close</button>
	                        <button type="submit" class="btn btn-primary" name="export_as" value="excel" @click="analyse"><i class="fa fa-file-excel-o"></i> Excel</button>
	                        <button type="submit" class="btn btn-warning" name="export_as" value="screen" @click="analyse"><i class="fa fa-desktop" aria-hidden="true"></i> Display</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
    </div>
</template>

<script>
	import RemoveFileButton from './RemoveFileButton.vue'
	import Select2 from './Select2.vue'
	import moment from 'moment'

	export default {
		props: ['histories', 'segments'],
		data() {
			return {
				rows: [],
				segment_rows: [],
				loading: false
			};
		},
		methods:{
			selectFile: function(id){
				$('#fileID').val(id)
			},
			analyse: function(){
				this.loading = true
			},
			date: function(date){
				return moment(date).format('D MMM YYYY')
			}
		},
		components: {
			RemoveFileButton,
			Select2
		},
		mounted: function(){
			var vm = this;

			this.rows = JSON.parse(this.histories).data
			this.segment_rows = JSON.parse(this.segments)

			Vue.nextTick(function () {
				$('#csrf_token').val(vm.$parent.csrf_token);
			})
		}
	}
</script>
