<template>
	<div>
		<dropzone max_files="99" max_files_size="100" :action="uri"></dropzone>
	</div>
</template>

<script>
	import Dropzone from './Dropzone.vue'

	export default {
		props: ['uri'],
		components: { 
            Dropzone
        },
        methods: {
        	uploaded: function(file, response){
        		var file = {}
        		file['id'] = response.id
        		file['created_at'] = response.date
        		file['user'] = {'firstname':response.user}
        		file['original_filename'] = '<i class="fa fa-check" aria-hidden="true"></i> ' + response.filename

        		this.$parent.$refs.history.rows.unshift(file)
        	}
        },
		mounted: function () {
			
		}
	}
</script>