<template>
	<select class="form-control">
		<slot></slot>
	</select>
</template>

<script>
	export default {
		methods: {
			formatCountry: function(country){
				if (!country.id) { return country.text }

				var $country = $(
					'<span><img src="/images/flags/16/' + $(country.element).attr('icon') + '.png" class="img-flag" /> ' + country.text + '</span>'
				);

				return $country;
			},
		},
		mounted: function(){
			$(this.$el).select2({ 
				placeholder: "Select",
				templateResult: this.formatCountry,
				templateSelection: this.formatCountry
			});
		}
	}
</script>
