<template>
	<div class="input-group date">
		<span class="input-group-addon">
			<i class="fa fa-calendar"></i>
		</span>
		<input type="text" class="form-control" :name="name" :value="value" :placeholder="placeholder">
	</div>
</template>

<script>
	import moment from 'moment'

	export default {
		props: ['name', 'value', 'placeholder'],
		methods: {
			selectMonth: function(){
				$(this.$el).datepicker('remove');

				$(this.$el).datepicker({
					format: "M",
					viewMode: "months",
					minViewMode: "months",
					maxViewMode: 0,
					keyboardNavigation: true,
					forceParse: false,
					autoclose: true
				});
			}
		},
		mounted: function(){
			$(this.$el).datepicker({
				todayBtn: "linked",
				format: "dd M yyyy",
				keyboardNavigation: false,
				forceParse: false,
				calendarWeeks: true,
				autoclose: true
			});
		}
	}
</script>