<template>
    <form class="dropzone text-center">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>
    </form>
</template>

<script>
	import dropzone from 'dropzone'

	export default {
	    props: [

	        // INTEGER - Maximum number of
	        // files
	        'max_files',

	        // INTEGER - Maximum file size
	        // in MBs
	        'max_files_size',

	        // STRING - Accepted file or
	        // mime types, comma seperated
	        'accepted_files',

	        // FUNCTION - Success callback,
	        // must be defined in section
	        // predefined-javascript
	        'success_callback'

	    ],
		mounted: function(){
		    var csrf_token = document.querySelector('#_token').getAttribute('value');

		    var a = this

            if(typeof a.max_files == 'undefined' || a.max_files % 1 !== 0)
                a.max_files = 10
            if(typeof a.max_file_size == 'undefined' || a.max_file_size % 1 !== 0)
                a.max_file_size = 10

            dropzone.autoDiscover = false;
            
            new dropzone(this.$el, {
                maxFiles: a.max_files,
                maxFilesize: a.max_files_size,
                acceptedFiles: a.accepted_files,
                headers: { "X-CSRF-TOKEN": csrf_token },
                success: function(file, response){
                    if(typeof a.success_callback != 'undefined' && typeof window[a.success_callback] === 'function')
                        window[a.success_callback](file, response);

                    a.$parent.uploaded(file, response)
                }
            });
		}
	}
</script>
