<template>
    <button class="btn" @click="find"><slot></slot></button>
</template>

<script>
    import swal from 'sweetalert2'

	export default {
	    methods: {
		    find: function(e){
                var code = $(e.explicitOriginalTarget).attr('code');
                var url = $(e.explicitOriginalTarget).attr('url');
                swal({
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    showCancelButton: false,
                    showConfirmButton: false,
                    text: 'Searching for creditor with number ' + code + '...',
                    title: '<i class="fa fa-circle-o-notch fa-spin fa-3x"></i><br/><br/>Searching creditor...'
                });
                $.get(url + code).done(function(data) {
                    data = JSON.parse(data)
                    if(data.success) swal({
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        confirmButtonText: 'Awesome!',
                        showCancelButton: false,
                        html: 'Creditor <i>' + data.creditor + ' (' + code + ')</i> has been added to the CMS!',
                        title: 'Success!',
                        type: 'success'
                    }).then(function() {
                        window.location.reload();
                    });
                    else if(data.code == '0x02') {
                        swal({
                            allowEscapeKey: false,
                            confirmButtonText: 'Alrighty!',
                            showCancelButton: false,
                            html: 'For some reason this creditor already exists...',
                            title: 'That\'s strange!',
                            type: 'warning'
                        });
                    }
                    else if(data.code == '0x01' || data.code == '0x03' || data.code == '0x05') {
                        swal({
                            allowEscapeKey: false,
                            confirmButtonText: 'OK',
                            showCancelButton: false,
                            html: 'An internal error occurred!<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                            title: 'Something went wrong!',
                            type: 'error'
                        });
                    }
                    else if(data.code == '0x04' || data.code == '0x13' || data.code == '0x14') {
                        swal({
                            allowEscapeKey: false,
                            confirmButtonText: 'OK',
                            showCancelButton: false,
                            html: 'We were unable to add creditor ' + code + '!<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                            title: 'Something went wrong!',
                            type: 'error'
                        });
                    }
                    else if(data.code == '0x06' || data.code == '0x07' || data.code == '0x08' || data.code == '0x09' || data.code == '0x10' || data.code == '0x11' || data.code == '12') {
                        swal({
                            allowEscapeKey: false,
                            confirmButtonText: 'OK',
                            showCancelButton: false,
                            html: 'We couldn\'t get all the needed data about creditor ' + code + '!<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                            title: 'Something went wrong!',
                            type: 'error'
                        });
                    }
                    else {
                        swal({
                            allowEscapeKey: false,
                            confirmButtonText: 'OK',
                            showCancelButton: false,
                            html: 'An unknown error occurred! Please contact your administrator about this error...',
                            title: 'Something went wrong!',
                            type: 'error'
                        });
                    }

                }).fail(function(data) {
                    swal({
                        allowEscapeKey: false,
                        confirmButtonText: 'OK',
                        showCancelButton: false,
                        text: 'Sorry, we couldn\'t fulfill your request!',
                        title: 'Something went wrong!',
                        type: 'error'
                    });
                });
		    }
		}
	}
</script>
