<template>
	<select2 :options="options" v-model="selected" name="product">
		<option disabled value="0">Find Product</option>
	</select2>
</template>

<script>
	import Select2 from './Select2.vue'

	export default {
		components: { 
			Select2
		},
		data() {
			return {
				url: "/ajax/products/search",
				selected: 0,
				options: []
			};
		},
		methods: {
			formatRepoSelection: function(product){
				if(product.info)
	            {
	                return product.info.name;
	            }
			}
		},
		mounted: function(){
			$(this.$el).val(this.value).select2({ 
				ajax: {
                    url: this.url,
                    dataType: 'json',
                    delay: 500,
                    data: function (params) {
                        return {
                            q: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1,
                templateResult: this.formatRepoSelection, // omitted for brevity, see the source of this page
	            templateSelection: this.formatRepoSelection // omitted for brevity, see the source of this page
			});
		}
	}
</script>