<template>
	<div class="charts"></div>
</template>

<script>
	import Chartist from 'chartist'
	import ChartistTooltip from 'chartist-plugin-tooltip'

	export default {
		props: ['height'],
		data() {
			return {
				data: {}
			};
		},
		watch: {
			'data': function(){
				this.updateGraph()
			}
		},
		methods: {
			updateGraph: function(){
				var options = {
					fullWidth: true,
					height: this.height,
					plugins: [
						Chartist.plugins.tooltip()
					]
				};

				new Chartist.Line(this.$el, this.data, options);

			}
		},
		mounted: function(){
			this.updateGraph()
		}
	}
</script>