<template>
    <button @click="onClick">test</button>
</template>

<script>
	export default {
        data: function() {
			return {
				message: 'test'
			};
		},
        methods: {
            onClick: function() {
                window.alert(this.message)
            }
        },
		mounted: function () {
		}
	}
</script>
