<template>
	<div class="row text-center image_selector">
        <label for="file-input">
            <div class="preview_image_selector">
                <img id="preview" src="https://d30y9cdsu7xlg0.cloudfront.net/png/24598-200.png" class="img-rounded" alt="image">
                <div class="after img-rounded">Change</div>
            </div>
        </label>
        
        <input id="file-input" :name="name" type="file" />
    </div>
</template>

<script>
	export default {
		props: ['name'],
		mounted: function(){
			$("#file-input").change(function(){
		        if (this.files && this.files[0]) {
		            var reader = new FileReader();

		            reader.onload = function (e) {
		                $('#preview').attr('src', e.target.result);
		            }

		            reader.readAsDataURL(this.files[0]);
		        }
		    });
		}
	}
</script>
