<template>
	<input type="text">
</template>

<script>
    import touchspin from 'bootstrap-touchspin'
    
	export default {
        props: ['max', 'min'],
		mounted: function () {
            $(this.$el).TouchSpin({
                max: this.max,
                min: this.min,
                step: 0.01,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
		}
	}
</script>
