<template>
	<select class="form-control">
		<slot></slot>
	</select>
</template>

<script>
	export default {
		methods: {
			formatCountry: function(country){
				if (!country.id) { return country.text }

				var country_name = country.element.innerText

				var $country = $(
					'<span><img src="/images/flags/16/' + country.element.getAttribute("icon") + '.png" class="img-flag" /> ' + country_name + '</span>'
				);

				return $country;
			},
			hideForm: function(){
				$(".multi_language").hide();
			},
			showForm: function(language){
				this.hideForm()

				$('.multi_language.' + language).show();
			}
		},
		mounted: function(){
			var vm = this

			this.showForm($(this.$el).val())

			$(this.$el).select2({ 
				templateResult: this.formatCountry,
				templateSelection: this.formatCountry
			});

			$(this.$el).on("select2:select", function (e) { 
				vm.showForm(e.params.data.id)
			});
		}
	}
</script>





