<template>
	<select2 v-model="category">
		<option></option>
		<option v-for="option in options" :value="option.id">{{ option.info.name }}</option>
	</select2>
</template>

<script>
	import Select2 from './Select2.vue'
	export default {
		props: ['categories'],
		data() {
			return {
				category: null,
				options: []
			};
		},
		components: { 
			Select2
		},
		watch: {
			category: function(value){
				if(value)
				{
					$.each($('.category_row'), function(i, l){
						$(l).hide()
					});

					$('.category_row.' + value).show()
				}
			}
		},
		mounted: function(){
			this.options = JSON.parse(this.categories)
		}
	}
</script>
