<template>
	<div data-toggle="buttons-checkbox" class="btn-group">
		<button class="btn btn-primary" type="button" v-for="year in years" v-on:click="toggle(year)">{{ year }}</button>
	</div>
</template>

<script>
	export default {
		props: ['start', 'end'],
		data() {
			return {
				years: []
			};
		},
		methods: {
			toggle: function(year){
				$('.column_' + year).toggle()
			}
		},
		mounted: function(){
			for(var i=this.start;i<=this.end;i++)
			{
				this.years.push(i)
			}
		}
	}
</script>
