<template>
	<div>

		<div :class="'input-group ' + sku_status">
			<input type="text" :name="name" class="form-control input-sm" v-model='sku' placeholder="SKU" v-on:keyup="checkSKU">
			<span class="input-group-btn"> 
				<button type="button" class="btn btn-white btn-sm" @click="toggleMore">
					<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
				</button>
			</span>
		</div>


		<div v-if="more">
			<div class="mt5">
				<datepicker placeholder="Until Month" ref="datepicker" :name="month_name" :value="month_value"></datepicker>
			</div>

			<div class="mt5">
				<integer-input name="min_qty" placeholder="Min QTY" :name="qty_name" :value="qty_value"></integer-input>
			</div>
		</div>
	</div>
</template>

<script>
	import IntegerInput from './IntegerInput.vue'
	import Datepicker from './Datepicker.vue'
	import _ from 'underscore'

	export default {
		props: ['year', 'category', 'name', 'month_name', 'qty_name', 'value', 'month_value', 'qty_value', 'valid'],
		data() {
			return {
				input_years: [],
				sku: this.value,
				sku_status: null,
				more: false
			};
		},
		components: { 
			IntegerInput,
			Datepicker
		},
		methods: {
			toggleMore: function(){
				var vm = this

				this.more = !this.more

				if(this.more)
				{
					Vue.nextTick(function () {
						vm.$refs.datepicker.selectMonth()
					})
				}
			},
			checkSKU: _.debounce(function(){
				var vm = this

				if(this.sku)
				{
					var uri = '/ajax/vehicle/sku-check';
					var vm = this;

					axios.get(uri, {
						params: {
							'sku': vm.sku
						}
					}).then(function(response){
						if(response.data.status)
						{
							var sku_status = 'has-success'
						}
						else
						{
							var sku_status = 'has-error'
						}

						for(var i=vm.year;i<=vm.$parent.last_year;i++){
							vm.$parent.$refs[vm.category + '_' + i].sku_status = sku_status
						}
					});
				}
			}, 500)
		},
		watch: {
			sku: function (value) {
				if($('#auto_fill').is(":checked"))
				{
					for(var i=this.year;i<=this.$parent.last_year;i++){
						this.$parent.$refs[this.category + '_' + i].sku = value
					}
				}
			}
		},
		mounted: function(){
			var vm = this

			if(this.month_value || this.qty_value)
			{
				this.more = true

				Vue.nextTick(function () {
					vm.$refs.datepicker.selectMonth()
				})
			}

			if(this.valid)
			{
				this.sku_status = 'has-success'
			}

			if(this.value && !this.valid)
			{
				this.sku_status = 'has-error'
			}
		}
	}
</script>
