<template>
    <button @click="onClick">test</button>
</template>

<script>
    export default {
        el: 'generated-order-files-dropzone',
        methods: {
            onChange: function() {
                window.alert('Hey!')
            }
        }
    }

	/*export default {
        data: function() {
			return {
				message: 'test'
			};
		},
        methods: {
            onClick: function() {
                window.alert(this.message)
            }
        },
		mounted: function () {
		}
	}*/
</script>
