<template>
	<div class="input-group">
        <input type="text" class="form-control" :name="name" :placeholder="placeholder" :value="new_value">
        <span class="input-group-btn"> 
            <button class="btn btn-primary" type="button" v-on:click="newPassword">Generate</button> 
        </span>
    </div>
</template>

<script>
	import randomatic from 'randomatic'

	export default {
		props: ['name', 'value', 'placeholder'],
		data(){
            return {
                new_value: []
            }
		},
		methods: {
			newPassword: function(){
				this.new_value = randomatic('Aa0', 8)
			}
		},
		mounted: function(){
			this.new_value = this.value
		}
	}
</script>