<template>
		<div class="input-group"> 
			<div class="input-group-btn select-dropdown-choice"> 

				<button type="button" class="btn btn-white dropdown-toggle as-is bs-dropdown-to-select" data-toggle="dropdown" tabindex="-1"> 
					<span data-bind="bs-drp-sel-label"><img :src="'/images/flags/16/' + selected.icon + '.png'"> +{{ selected.call_prefix }}</span> 
					<input type="hidden" data-bind="bs-drp-sel-value" :name="name_country" :value="selected.id"> 

					<span class="caret"></span> 
					<span class="sr-only">Toggle Dropdown</span> 
				</button> 

				<ul class="dropdown-menu" role="menu" style="max-height: 300px; overflow: scroll; overflow-y: scroll; overflow-x: hidden;"> 

					<li v-for="option in options" v-on:click="changeCountry(option, $event)"> 
						<a href="#"><img :src="'/images/flags/16/' + option.icon + '.png'"> {{ option.name }}</a> 
					</li> 

				</ul> 
			</div> 

			<input type="text" class="form-control" placeholder="Phonenumber" :name="name" :value="value">
		</div> 
</template>

<script>
	export default {
		props: ['countries', 'selected_country', 'name_country', 'name', 'placeholder', 'value'],
		data(){
			return {
				options: [],
				selected: {'icon':'Netherland'}
			}
		},
		methods: {
			changeCountry: function(option, event){
				this.selected.id = option.id
				this.selected.icon = option.icon
				this.selected.call_prefix = option.call_prefix

				event.preventDefault()
			}
		},
		mounted: function(){
			var vm = this;

			this.options = JSON.parse(this.countries);

			if(typeof(this.selected_country) !== "object")
			{
				this.selected = JSON.parse(this.selected_country);
			}

			if(typeof(this.selected_country) === "object")
			{
				this.selected = this.selected_country;
			}
		}
	}
</script> 