<template>
    <button class="btn btn-primary" @click="process"><slot></slot></button>
</template>

<script>
    import swal from 'sweetalert2'

	export default {
	    methods: {
		    process: function(e){
                swal({
                    confirmButtonColor: '#1AB394',
                    confirmButtonText: 'Yes, generate these orders!',
                    showCancelButton: true,
                    text: 'Do you really want to generate these orders and send them to AccountView?',
                    title: 'Are you sure?',
                    type: 'warning',
                }).then(function() {
                    var item_id = $(e.explicitOriginalTarget).attr('item_id');
                    var redir = $(e.explicitOriginalTarget).attr('redir');
                    $.get('/generate-order/process/' + item_id).done(function(data) {
                        if(data.success == true)
                            swal({
                                confirmButtonText: 'Alright!',
                                text: 'The generated orders have been send to AccountView!',
                                title: 'Generated!',
                                type: 'success'
                            }).then(function() {
                                window.location.href = redir;
                            });
                        else if(data.code == '0x01' || data.code == '0x02')
                            swal({
                                confirmButtonText: 'OK',
                                html: 'Orders couldn\'t be generated because of an internal error!<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                                showCancelButton: false,
                                title: 'Internal error!',
                                type: "error"
                            });
                        else if(data.code == '0x03' || data.code == '0x04')
                            swal({
                                confirmButtonText: 'OK',
                                html: 'We found an error in the file\'s data!<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                                showCancelButton: false,
                                title: 'Oops!',
                                type: "warning"
                            });
                        else
                            swal({
                                confirmButtonText: 'OK',
                                html: 'An unknown error occurred! Please contact your administrator about this error...<br/><small><small>Errorcode: ' + data.code + '</small></small>',
                                showCancelButton: false,
                                title: 'Something went wrong!',
                                type: "warning"
                            });
                    }).fail(function(data) {
                        swal({
                            confirmButtonText: 'Noooooo!',
                            html: 'Orders couldn\'t be generated!<br/><small><small>Errorcode: 0x01</small></small>',
                            showCancelButton: false,
                            title: 'Something went wrong!',
                            type: "error"
                        });
                    });

                });
		    }
		}
	}
</script>
