<template>
    <div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Product Importer</h5>
            </div>

            <div class="ibox-content">
                <div class="mb20"></div>

                <div class="row">
                    <div class="col-md-12">
                    
                        <div class="form-group">
                            <label class="col-md-2 control-label">Process</label>
                            <div class="col-md-8">
                                <div>
                                    <span>{{ percentage }}%</span>
                                    <small class="pull-right">{{ processed }} / {{ import_products.length }} Products</small>
                                </div>
                                <div class="progress progress-small">
                                    <div class="progress-bar" v-bind:style="{ width: percentage + '%' }"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-block btn-outline btn-primary" @click="startImport"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" v-for="error in import_errors">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <b>Error:</b> {{ error.sku }} {{ error.product_name }} 
        </div>
    </div>
</template>

<script>
	export default {
        props: ['products'],
        data(){
            return {
                import_products: [],
                import_errors: [],
                processed: 0,
                percentage: 0
            }
        },
        methods: {
            startImport: function(){
                this.processed = 0
                this.percentage = 0
                this.import_errors = []
                var vm = this

                this.resetCategories()

                $.each(this.import_products, function(key, value){
                    var uri = '/ajax/product/import';

                    axios.post(uri, {
                        product: value
                    }).then(function(response){
                        vm.processed++;
                        vm.displayProcessed();
                    }).catch(function (error) {
                        vm.import_errors.push(value)
                        vm.processed++;
                        vm.displayProcessed();
                    });
                });
            },
            resetCategories: function(){
                var uri = '/ajax/product/import/reset-categories?shop=' + this.import_products[0].shop;

                axios.get(uri);
            },
            displayProcessed: function(){
                this.percentage = Math.round((100 / this.import_products.length) * this.processed);
            }
        },
	    mounted: function(){
            this.import_products = JSON.parse(this.products)
		}
	}
</script>
