<template>
    <select class="form-control"></select>
</template>

<script>
    export default {
        props: ['select'],
        methods: {
            formatProduct: function(product){
                if (product.loading) return product.text;

                var markup = "<div class='select2-result-repository clearfix'>";

                if(product.images.length > 0)
                {
                    markup += "<div class='select2-result-repository__avatar'><img src='/product/images/" + product.images[0].id + "/small/filename' width='100' /></div>";
                }
                else
                {
                    markup += "<div class='select2-result-repository__avatar'><img src='/product/images/no_image/small/filename' width='100' /></div>";
                }

                markup += "<div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + product.info.name + "</div>";

                if (product.info.short_description) {
                    markup += "<div class='select2-result-repository__description'>" + product.info.short_description + "</div>";
                }

                markup += "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i class='fa fa-hashtag'></i> " + product.id + "</div>" +
                "<div class='select2-result-repository__stargazers'><i class='fa fa-qrcode'></i> " + product.ean + "</div>" +
                "<div class='select2-result-repository__watchers'><i class='fa fa-shopping-bag'></i> " + product.sku + "</div>" +
                "</div>" +
                "</div></div>";

                return markup;
            },
            formatProductSelection: function(product){
                if(product.info)
                {
                    return product.info.name;
                }

                return product;  
            }
        },
        mounted: function(){
            $(this.$el).select2({
                ajax: {
                    url: "/ajax/products/search",
                    headers: { 'X-CSRF-Token': this.$parent.csrf_token },
                    dataType: 'json',
                    type: "get",
                    delay: 500,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.results || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                        cache: true
                    },
                    escapeMarkup: function (markup) { return markup; },
                    minimumInputLength: 1,
                    templateResult: this.formatProduct,
                    templateSelection: this.formatProductSelection
            });
        }
    }
</script>
