<template>
    <div>
        <label for="import_product_file" class="btn btn-outline btn-primary btn-block"><i class="fa fa-file-excel-o"></i> Import Excel</label>
        <input id="import_product_file" name="file" type="file" class="hidden" >

        <form :action="uri" id="upload_import_file" enctype="multipart/form-data" method="post">
            <input type="hidden" name="import" :value="json">
            <input type="hidden" name="_token" :value="csrf">
        </form>

        <div id="test"></div>
    </div>
</template>

<script>
	export default {
        props: ['uri'],
        data(){
            return {
                csrf: null,
                json: []
            }
        },
        methods: {
            csvJSON: function(csv){

                var lines=csv.split("\n");

                var result = [];

                var headers=lines[0].split(";");

                for(var i=1;i<lines.length;i++){

                var obj = {};
                var currentline=lines[i].split(";");

                for(var j=0;j<headers.length;j++){
                    obj[headers[j]] = currentline[j];
                }

                result.push(obj);

                }

                this.json = JSON.stringify(result)

                Vue.nextTick(function () {
                    $('#upload_import_file').submit();
                })
            }
        },
	    mounted: function(){
            this.csrf = $('#_token').attr('value')
            var vm = this

		    $('#import_product_file').change(function() {
                var reader = new FileReader();
            
                reader.readAsText(this.files[0])

                reader.onload = function (e) {
                    vm.csvJSON(e.target.result)
                }
            });
		}
	}
</script>
