<template>
	<div>
		<div class="ibox form-horizontal">
            <div class="ibox-title">
                <h5>Options</h5>
            </div>

            <div class="ibox-content">
                <div class="form-group">
		            <label class="col-md-2 control-label">Rubber Commodity</label>
		            <div class="col-md-5">
		                <label><input type="radio" class="form-control i-checks" name="rubber" value="1" v-model="rubber"> Show</label>
		            </div>
		            <div class="col-md-5">
		                <label><input type="radio" class="form-control i-checks" name="rubber" value="0" v-model="rubber"> Hide</label>
		            </div>
		        </div>

		        <div class="form-group">
		            <label class="col-md-2 control-label">Weather</label>
		            <div class="col-md-5">
		                <label><input type="radio" class="form-control i-checks" name="weather" value="1" > Show</label>
		            </div>
		            <div class="col-md-5">
		                <label><input type="radio" class="form-control i-checks" name="weather" value="0" checked> Hide</label>
		            </div>
		        </div>

		        <div class="form-group">
		            <label class="col-md-2 control-label">Platforms</label>
		            <div class="col-md-10">
		                <div data-toggle="buttons-checkbox" class="btn-group">
		                    <button class="btn btn-primary" type="button" aria-pressed="false" v-for="platform in platforms_data" @click="togglePlatform(platform.id)">{{ platform.name }}</button>
		                </div>
		            </div>
		        </div>
            </div>
        </div>

		<div class="ibox" v-if="rubber">
			<div class="ibox-title">
                <h5>Rubber Commodity</h5>
                <graph height="200" ref="rubber"></graph>
            </div>
		</div>

		<div class="ibox" v-if="weather">
			<div class="ibox-title">
                <h5>Weather</h5>
                <graph height="200" ref="weather"></graph>
            </div>
		</div>

	</div>
</template>

<script>
	import Graph from './Graph.vue'

	export default {
		props: ['platforms'],
		components: { 
			Graph
		},
		data(){
			return {
				platforms_data: false,
				selected_platform: [],
				rubber: 0,
				weather: 0
			};
		},
		methods: {
			togglePlatform: function(id){
				if(this.selected_platform.indexOf(id) > -1)
				{
					this.selected_platform.splice(this.selected_platform.indexOf(id), 1);
				}
				else
				{
					this.selected_platform.push(id)
				}

				this.$parent.$refs.product_graph.platforms = this.selected_platform
			},
			updateRubberPrice: function(){
				var uri = '/ajax/statistics/commodity/rubber';
				var vm = this;

				axios.get(uri).then(function(response){
					vm.$refs.rubber.data = response.data
				});
			},
			updateWeather: function(){
				var uri = '/ajax/statistics/weather/nl';
				var vm = this;

				axios.get(uri).then(function(response){
					vm.$refs.weather.data = response.data
				});
			}
		},
		watch: {
			rubber: function (value) {
				if(value)
				{
					this.updateRubberPrice()
				}
			},
			weather: function(value){
				if(value)
				{
					this.updateWeather()
				}
			}
		},
		mounted: function(){
			this.platforms_data = JSON.parse(this.platforms)
			var vm = this

			$('input[name="rubber"]').on('ifClicked', function(event){
				vm.rubber = parseInt(this.value)
			});

			$('input[name="weather"]').on('ifClicked', function(event){
				vm.weather = parseInt(this.value)
			});

		}
	}
</script>