<template>
	<div>
		<div v-if="!loading">
			<graph ref="graph" height="500"></graph>
		</div>

		<div class="sk-spinner sk-spinner-wandering-cubes mt20 mb20" v-if="loading">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>

	</div>
</template>

<script>
	import Graph from './Graph.vue'

	export default {
		props: ['product_id'],
		components: { 
			Graph
		},
		data() {
			return {
				loading: false,
				platforms: []
			};
		},
		methods: {
			updateGraph: function(){
				
				this.loading = true

				var uri = '/ajax/product/graph/' + this.product_id;
				var vm = this;

				axios.post(uri, {platforms: this.platforms}).then(function(response){
					vm.loading = false

					return response
				}).then(function(response){
					vm.$refs.graph.data = response.data
				});
			}
		},
		watch: {
			platforms: function () {
				this.updateGraph()
			}
		},
		mounted: function(){
			this.updateGraph()
		}
	}
</script>