<template>
    <button class="btn btn-danger" @click="remove"><slot></slot></button>
</template>

<script>
    import swal from 'sweetalert2'

	export default {
	    methods: {
		    remove: function(e){
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                }).then(function (isConfirm, el) {
                    var item_id = $(e.explicitOriginalTarget).attr('item_id');
                    var url = $(e.explicitOriginalTarget).attr('url');
                    $.get(url + item_id);
                    $("tr#" + item_id).remove();
                    swal("Deleted!", "Your file has been deleted.", "success");
                });
		    }
		}
	}
</script>
