<template>
    <button class="btn btn-danger btn-outline btn-xs" @click="remove"><slot></slot></button>
</template>

<script>
    import swal from 'sweetalert2'

	export default {
        props: ['remove_uri', 'item_id'],
	    methods: {
		    remove: function(e){
                var vm = this

                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                }).then(function() {
                    var item_id = $(e.explicitOriginalTarget).attr('item_id');
                    var redir = $(e.explicitOriginalTarget).attr('redir');

                    $.get(vm.remove_uri);
                    $(".row_" + vm.item_id).remove()

                    swal("Deleted!", "Your file has been deleted.", "success").then(function() {
                        if(redir)
                        {
                            window.location.href = redir;
                        }
                    });
                });
		    }
		}
	}
</script>
