<template>
	<select class="form-control" style="width:100%">
		<option value=""></option>
		<slot></slot>
	</select>
</template>

<script>
	export default {
		props: ['tag'],
		methods: {
			initSelect: function(){
				var vm = this

				$(this.$el)
				.select2({ 
					tags: this.tag,
					placeholder: "Select"
				})
				.on('change', function () {
					vm.$emit('input', this.value)
				})
			},
			changeValue: function(value){
				$(this.$el).val(value).trigger("change")
			}
		},
		mounted: function () {
			var select = null

			if(this.select)
			{
				select = this.select.split(',')
			}

			this.initSelect()
		},
		destroyed: function () {
			$(this.$el).off().select2('destroy')
		}
	}
</script>