<template>
	<textarea>
		<slot></slot>
	</textarea>
</template>

<script>
	import summernote from 'summernote'

	export default {
		props: ['height'],
		mounted: function () {
			var vm = this

			$(this.$el).summernote({
				height: vm.height
			});
		}
	}
</script>