<template>
	<div>
		<div class="col-md-5">
            <select2 name="tax_group" ref="tax_group_select" v-model="group">
                <option v-for="tax_group in tax_group_options" :value="tax_group.id" v-bind:selected="tax_group.id == selected_tax_group && true">{{ tax_group.name }}</option>
            </select2>
        </div>

        <div class="col-md-5">
            <select2 name="tax_rule" ref="tax_select">
                <option v-for="tax in tax_options" :value="tax.id" v-bind:selected="tax.id == selected_tax_rule && true">{{ tax.name }}</option>
            </select2>
        </div>
	</div>
</template>

<script>
	import Select2 from './Select2.vue'

	export default {
		props: ['tax_groups', 'selected_tax_group', 'selected_tax_rule'],
		data() {
			return {
				group: null,
				tax_group_options: [],
				tax_options: []
			};
		},
		components: {
			Select2,
		},
		watch: {
			group: function (value) {
				var vm = this

				var uri = "/ajax/tax_group/" + value + "/tax_rules"

				axios.get(uri, {platforms: this.platforms}).then(function(response){
					vm.tax_options = response.data;

					vm.$refs.tax_select.initSelect();
				})
			}
		},
		mounted: function () {
			this.tax_group_options = JSON.parse(this.tax_groups)

			if(this.selected_tax_group)
			{
				this.group = this.selected_tax_group
			}

		}
	}
</script>