<template>
	<input type="text" class="form-control" v-model="size" />
</template>

<script>
	import mask from 'jquery-mask-plugin'

	export default {
		props: ['allsize'],
		data() {
			return {
				size: this.value
			};
		},
		mounted: function () {
			$(this.$el).mask('000/00/00', {
				'translation': {
					0: { pattern: /[0-9*]/ }
				},
				'placeholder': "___/__/__"
			})
		}
	}
</script>