/* Select2 custom styles */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-color: #e7eaec;
}
.select2-container--default .select2-selection--single, 
.select2-container--default .select2-selection--multiple {
    border: 1px solid #e5e6e7 !important;
    border-radius: 1px !important;
    height: 34px !important;
    
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px !important;
}
.modal-body .select2-container {
  width: 100% !important;
  padding: 0;
}
.select2-container--open .select2-dropdown{
  z-index: 99999;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-selection__choice__remove {
  background-color: #2D8E7B;
  color: #fff !important;
  border: #2D8E7B;
}

.select2-result-repository__avatar {
    float: left;
    margin-right: 10px;
    width: 100px;
}
.select2-result-repository__title {
    color: black;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 4px;
    word-wrap: break-word;
}
.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers {
    color: #ddd;
    display: inline-block;
    font-size: 11px;
    margin-right: 10px;
}

.h200 {
  height: 200px;
}

.btn-upload {
  min-height: 200px;
  margin-bottom: 20px;

  &:after {
    content: "\f0ee"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 72px;
    color: lightblue;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  input {
    height: 250px;
    width: 100%;
    z-index: 1;
  }
}

.uplImgTile {
    z-index: 2;
}

.multi-language-info-box,
.multi-shop-info-box{
  display: none;
}


.image_selector .after {
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
    display: none;
    color: #FFF;
    cursor: pointer;
    padding-top: 50px;
}
.image_selector:hover .after{
  display: block;
  background: rgba(0,0,0,0.5);
}
.image_selector > input{
  display: none;
}
.image_selector .preview_image_selector img{
  height: 120px;
  width: 120px;
}

.charts{
  position: relative;
}

.note-editor.note-frame {
    border: 1px solid #e5e6e7;
}

#cover-file-input,
#images-input{
    display: none;
}
.choose_image_block{
  border: 2px dashed #c2c2c2;
    height: 100px;
    padding-top: 25px;
    width: 100%;
    color: #c2c2c2;
}
.image_block label{
    width: 100%;
    cursor: pointer;
}
.image_block img{
  width: 100%;
}

.dropzone{
  border: dashed 2px #c2c2c2 !important;
}